<!DOCTYPE html>
<html>
<body>

<h1>A Web Page</h1>
<button id="action-button">Click me to load info!</button>
<div id="info"></div>

</body>
<!-- <script src="jquery/jquery-3.1.1.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$('#action-button').click(function() {
   $.ajax({
      url: '/api/corepfam/87000',
      data: {
         format: 'json'
      },
      error: function() {
         $('#info').html('<p>An error has occurred</p>');
      },
      success: function(data) {
         // var d = JSON.stringify(data)
         var $title = $('<h1>').text("number of core pfam");
         var $description = $('<p>').text(data.num_core_pfam);
         $('#info')
            .append($title)
            .append($description);
      },
      type: 'GET'
   });
});
</script>
</html>
